header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    padding-top: 4rem;
}

.header-logo {
    display: flex;
    align-items: center;
    max-width: 20rem;
}