.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  font-family: Quicksand;
  font-weight: bold;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
}

.nav-item img {
  width: 18px;
  height: 18px;
  padding-left: 0.5rem;
}

.nav-item:hover {
  color: var(--morfale-red);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .nav-text {
    display: none;
  }

  .logo {
    height: 2rem;
  }

  .nav-item img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navbar-right {
    display: flex;
    gap: 1rem;
  }
}